# =========================
# 1. Python 缓存与编译文件
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# =========================
# 2. 深度学习 & YOLO 特有文件
# =========================
# 忽略训练生成的权重文件
*.pt
*.pth
*.weights
# 忽略训练过程的日志和输出文件夹（防止把整个 runs 目录传上去）
runs/
ultralytics/yolo/v8/detect/runs/
# 忽略 YOLO 生成的标签缓存
*.cache

# =========================
# 3. 数据集 (非常重要！)
# =========================
# 忽略你刚刚整理的庞大数据集，避免 Git 仓库爆炸
dataset/
datasets/
data/
*.npy
*.npz
*.h5

# =========================
# 4. C++/CUDA 编译输出 (针对刚刚的 DCNv4)
# =========================
build/
dist/
*.egg-info/
DCNv4/build/
DCNv4/dist/
DCNv4/*.egg-info/

# =========================
# 5. 虚拟环境
# =========================
venv/
env/
.env
.venv/
sjyMHFNet/

# =========================
# 6. IDE 与操作系统生成文件
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db